# Em desenvolvimento: https://seu-ngrok.ngrok-free.dev/webhook/ziptime-connector
# Em produção (Docker interno): http://n8n:5678/webhook/ziptime-connector
VITE_N8N_SAVE_CRM_URL=
VITE_N8N_SAVE_LEAD_ID_URL=
VITE_WEBHOOK_SECRET=
